<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Http name="http" url="http://localhost:8081/splunk/services/collector/event">
          <JsonLayout properties="true">
              <KeyValuePair key="index" value="default"/>
          </JsonLayout>
        </Http>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="http" />
        </Root>
    </Loggers>
</Configuration>

