<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Socket name="socket" host="localhost" port="9500">
            <JSONLayout properties="true"/>
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="socket"/>
        </Root>
    </Loggers>
</Configuration>

